<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.true123.cn.tv" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="android:configChanges"
            />
        <!--C:\Users\IBM_ADMIN\Downloads\TV\app\src\main\AndroidManifest.xml:19:13-102 Error:-->
        <!--Attribute activity#io.vov.vitamio.activity.InitActivity@configChanges value=(orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden) from AndroidManifest.xml:19:13-102-->
        <!--is also present at [TV:vitamio:unspecified] AndroidManifest.xml:18:13-113 value=(orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation).-->
        <!--Suggestion: add 'tools:replace="android:configChanges"' to <activity> element at AndroidManifest.xml:18:9-22:62 to override.-->

    </application>

</manifest>